.features-section {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.feature {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: calc(0.1s * var(--i));
  margin-bottom: 15px;
}

.feature img {
  width: 250px; /* Adjust image size as needed */
  height: auto;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #666;
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
